# Build output
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Test / coverage
TestResults/
*.coverage
*.coveragexml
